<% layout("/layouts/boilerplate") %>

<div class="col-6 offset-2 mt-3">
    <h1>My Profile</h1>
    <div class="profile-card mt-3 mb-5">
        <div class="pro-icon">
            <i class="fa-solid fa-circle-user profile-icon"></i>
        </div>
        <div class="pro-name mt-2">
            <h5 class="mt-3 profile-username">@<%= currUser.username %></h5> 
            <p>guest</p>
        </div>
    </div>
    <hr>
    <div class="pro-listing mb-5 mt-5">
        <h3><i class="fa-solid fa-tree-city"></i> Listings  I've  created</h3>
        <% if(myListings.length > 0) { %>
            <div>
                <% myListings.forEach(listing => { %>
                    <a href="/listings/<%= listing._id %>" class="pro-listingName">
                        <div class="pro-listings">
                            <b><p class="ms-3 mt-3"><%= listing.title %></p></b>
                            <p class="ms-3 mt-3"><a href="/listings/<%= listing._id %>/edit" class="profile-edit">Edit</a></p>
                        </div>
                    </a>
                <% }) %>
            </div>
        <% } else { %> 
            <p class="mt-4">You haven't created any listings yet.</p>
            <a href="/listings/new" class="profile-edit">Create New Listing</a>
        <% } %>
    </div>
    </div>
</div>